<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka&family=Inconsolata&family=Lato:ital@1&family=Rubik+Mono+One&display=swap" rel="stylesheet">

    <!-- Css -->
    <link rel="stylesheet" href="style.css">
    
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    
    
    <!-- Title -->
    <title>Vue To Do List</title>
</head>
<body>

    <!-- Contenitore principale dell'app Vue -->
    <div id="app" class="container">
        <!-- Logo -->
        <div class="logo">
            <img src="logo.png" alt=" Logo ">
        </div>


        <!-- Sezione per aggiungere nuovi task -->
        <div class="new-task">
            <!-- Input per inserire nuovi task -->
            <input 
            v-model.trim="newTask" 
            type="text" 
            placeholder="Nuova task"
            @keyup.enter="addTask">
            <!-- Pulsante per aggiungere nuovi task -->
            <button @click="addTask">Aggiungi</button>

            <!-- Messaggio di errore se il task ha meno di 5 caratteri -->
            <p class="error">Il nuovo task deve avere almeno 5 caratteri</p>
        </div>


        <!-- Sezione per visualizzare i task -->
        <div class="task-container">

            <!-- Lista dei task -->
            <ul v-if="tasks.length > 0">
                <li v-for="(task, index) in tasks" :key="index">
                    <span>
                        <!-- Utilizzo di v-if/v-else per condizionare la visualizzazione -->
                        <del v-if="task.done">{{ task.text }}</del>
                        <span v-else>{{ task.text }}</span>
                    </span>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    <p class="error" v-if="task.isError">Completa prima il task prima di rimuoverlo.</p>
                </li>
            </ul>

            <!-- Messaggio di errore se si cerca di rimuovere un task non completato -->
            <h3>Non ci sono task</h3>
        </div>

    </div>
    
    <!-- JS -->
    <script src="script.js"></script>
</body>
</html>