/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google Fonts */
body{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Inconsolata', monospace;
    font-family: 'Lato', sans-serif;
    font-family: 'Rubik Mono One', sans-serif;
}

/* Container principale */
.container{
    width: 70%;
    margin: 0 auto;
}

/* Stile immagini */
img{
    width: 100%;
}

/* Logo */
.logo{
    margin: 0 auto;
    width: 300px;
    margin-bottom: 10px;
}